
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Wsparcie Kasy SDF-3</title>
	<link href ="/assets/style.css" rel = "stylesheet"/>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
	
	

</head>

<body>

<!----------------------------------------------------Navbar------------------------------------------------------------>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-xxl ">
			<a href="#intro" class = "navbar-brand">
				<!--<img src="assets/image/logo3.png" class="img-fluid me-4" alt="Novitus">-->
				<span class="fw-bold">
					<i class="bi bi-book-half"></i>
					Wsparcie kasy SDF-3
				</span>
				
			</a>
			<!-- toggle button fr mobile devices-->
			<button class="navbar-toggler" type ="button" data-bs-toggle ="collapse" data-bs-target = "#main-nav"
			aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<!--Navbar links-->
			<div class="collapse navbar-collapse justify-content-end align-center" id = "main-nav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="#movie" class="nav-link">O kasie</a>
					</li>
					<li class="nav-item">
						<a href="#contact" class="nav-link">Kontakt</a>
					</li>
					<li class="nav-item ms-md-3">
						<a href="#Q_A" class="btn btn-primary px-1 px-md-2">Najczęstsze Pytania</a>
					</li>
	
				</ul>
			</div>
		</div>
	</nav>

	<!--------------------------------------------------INTRO-------------------------------------->

	<section id = "intro">
		<div class="container-xxl">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-5 text-center text-md-start">
					<div class="display-2">Jak działa</div>
					<div class="display-5 text-muted mb-4 mb-md-0">Wirtualna Kasa SDF3</div>
					
					<a href="#sidebar2" class="d-block mt-2" data-bs-toggle = "offcanvas" role="button" aria-controls="sidebar1">
						<button class="btn btn-primary" id = "filmy">Zobacz filmy</button><i class="bi bi-camera-reels-fill p-0 m-0"></i>
						
					</a>
					<a href="#sidebar1" class="d-block mt-2" data-bs-toggle = "offcanvas" role="button" aria-controls="sidebar1">
						<button class="btn btn-secondary" id = "instrukcje">Pobierz instrukcje</button><i class="bi bi-book text-secondary"></i>
					</a>
				</div>
				<div class="col-md-5 text-center d-none d-md-block">
					 
						<a href="#sidebar" class="d-block mt-3" data-bs-toggle = "offcanvas" role="button" aria-controls="sidebar">
							<img class="img-fluid" src ="/assets/image/phone2.png"/>
							
						</a>
					
				</div>
			</div>
		</div>
	</section>

	<!--------------------------------------------------Informacje na początek-------------------------------------->
	<section id="movie" class="bg-dark">
		<div class="container-xxl">
			<div class="row justify-content-center align-items-center">
				<div class="col-9 col-lg-4">
					<div class="card border-secondary border-2 mt-0 mt-md-4">
						<div class="card-body text-center py-2 py-md-4">
							<h5 class="card-title p-0">Podstawowe informacje prawne</h5>
							<p class="lead card-subtitle"></p>
							<p class="card-text mx-5 text-muted d-none d-lg-block">Dowiedz się więcej na temat możliwości prawnych</p>
						</div>
						<a href="https://novitus.pl/wszystko-co-powinienes-wiedziec-o-kasach-online-do-myjni"><img src="/assets/image/phone.jpg" class="card-img-bottom rounded" alt="SDF-3"></a>
					</div>
				</div>
				<div class="col-9 col-lg-4">
					<div class="card border-secondary border-2 mt-4 mt-lg-0">
						<div class="card-body text-center py-2 py-md-4">
							<h5 class="card-title">Odpowiedzi na pytania producentów i serwisantów z branży</h5>
							<p class="lead card-subtitle"></p>
							<p class="card-text mx-5 text-muted d-none d-lg-block">Zbiór pytań z kilkunastu szkoleń, które prowadziliśmy dla naszych przyszłych klientów</p>
						</div>
						<a href="https://docs.google.com/document/d/1Bb9iwDIrf62k1SjcZrl39XBUNmP4WUyYRP0SALpsFBE/edit?usp=sharing"><img src="/assets/image/karta0.png" class="card-img-bottom rounded" alt="SDF-3"></a>
					</div>
				</div>
				<div class="col-9 col-lg-4">
					<div class="card border-secondary border-2 mt-4 mt-lg-0">
						<div class="card-body text-center py-2 py-md-4">
							<h5 class="card-title">Informacje o produkcie i dostępnych akcesoriach</h5>
							<p class="lead card-subtitle"></p>
							<p class="card-text mx-5 text-muted d-none d-lg-block">Dowiedz się więcej na temat naszego rozwiązania</p>
						</div>
						<a href="https://novitus.pl/sdf3"><img src="/assets/image/phone.jpg" class="card-img-bottom rounded" alt="SDF-3"></a>
					</div>
				</div>
			</div>

		</div>
	</section>
	
<!--------------------------------------------------QUESTIONS--------------------------------------------------------------->

	<section id ="Q_A">
		<div class="container-xxl">
			<div class="text-center">
				<h2>W czym możemy pomóc?
					<span class="tt" data-bs-placement ="right" title ="Odpowiedzi aktualizowane na bieżąco - bezpośrednio przez zespół wsparcia">			
							<i class="bi bi-chat-left-text-fill d-none d-md-inline"></i>
					 </span>
				</h2>
				<div class="row d-flex justify-content-center mt-4">
					<div class="col col-lg-10">
						<p id = "warning" class="text-dark p-2 pt-3">Proszę pamiętać, że pomożemy tylko odnośnie <span class="fw-bold">konfiguracji naszej kasy wirtualnej</span>, wszelkie sprawy dotyczące wrzutników i urządzeń myjni - należy <span class="fw-bold">kierować bezpośrednio do producentów</span> danego urządzenia.</p>
					</div>
				</div>
			</div>

			
				<div class="row d-flex justify-content-center mt-4">
					<div id="db" class="col-lg-10">
						<div class="list-group">
							<a href="#" class="list-group-item list-group-item-action py-3">
								<div class="pb-2">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<p class="text-muted d-inline ms-3">Częstość zapytań</p>
								</div>
								<h5 class="mb-1">Raport miesięczny</h5>
								<p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eos sit molestiae. Consectetur itaque blanditiis eum!</p>
								<small>Odpowiada: Szymon</small>
							</a>
						</div>
					</div>

					<!--<div class="col-lg-6">
						<div class="list-group">			
						
							<a href="#" class="list-group-item list-group-item-action py-3 border-top">
								<div class="pb-2">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
								</div>
								<h5 class="mb-1">Wirtualna drukarka VTPrn</h5>
								<p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eos sit molestiae. Consectetur itaque blanditiis eum!</p>
								<small>Odpowiada: Kuba</small>
							</a>
						</div>
					</div>
				</div>	

				

				<div class="row justify-content-center mt-4">
					<div class="col-lg-6"><div class="list-group"><a href="#" class="list-group-item list-group-item-action py-3"><div class="pb-2"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div><h5 class="mb-1">Zamknięcie trybu fiskalnego</h5><p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eos sit molestiae. Consectetur itaque blanditiis eum!</p><small>Odpowiada: Kuba</small></a></div></div>
						<div class="col-lg-6">
							<div class="list-group">
								<a href="#" class="list-group-item list-group-item-action py-3 border-top">
								<div class="pb-2">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</div>
								<h5 class="mb-1">Uszkodzenie telefonu</h5>
								<p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eos sit molestiae. Consectetur itaque blanditiis eum!</p>
								<small>Odpowiada: Rafał</small>
								</a>
							</div>
						</div>
				</div> -->
			
		</div> <!--Row---------->
	</div> <!--Container-------->
	</section>

	<!-------------------------------------------footer------------------------------------------------>

	<footer id="contact" class="bg-dark">
		<div class="container-xxl">
			<div class="row justify-content-center">
				<div class="col-lg-9 text-center">
					<div class="text-center text-light">
						<h3>Nie znalazłeś odpowiedzi na swoje pytanie?</h3>
						<h5 class="mb-4">Skontaktuj się z nami:</h5>
						<p>Sprawy handlowe: <span class="fw-bold">+48 18 444 07 45</span></p>
						<p>Jak przygotować się na wejście w życie nowych przepisów o obowiązkowej fiskalizacji myjni automatycznych: <span class="fw-bold">+48 18 444 07 45</span></p>
						<p>Proszę pamiętać, że pomożemy tylko odnośnie <span class="fw-bold">konfiguracji naszej kasy wirtualnej</span>, wszelkie sprawy dotyczące wrzutników i urządzeń myjni - należy kierować do producentów danego urządzenia.</p>
						<p class="mt-4">Wsparcie Techniczne kasy wirtualnej: <span class="fs-6 fw-bold">sdf3@novitus.info</span></p>
						<p>W sprawach pilnych prosimy o telefon na numer: <span class="fw-bold">+48 18 444 00 63</span></p>  
					</div>
				</div>
			</div>
		</div>
		
	</footer>


	
	<!-- -------------------------------------------------------------------offcanvas-------------------------------------->
	<div class="offcanvas offcanvas-end" tab-index = "-1" id = "sidebar" aria-labelledby="sidebar-label">
        <div class="offcanvas-header">

            <h5 class="offcanvas-title" id="sidebar-label">Dla kierowców TAXI</h5>
            <button class="btn-close" data-bs-dismiss="offcanvas" type="button" aria-label="close"></button>
        </div>
        <div class="offcanvas-body">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque suscipit eveniet fugiat ipsum odit consectetur maiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque suscipit eveniet fugiat ipsum odit consectetur maiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque suscipit eveniet fugiat ipsum odit consectetur maiores!</p>
            <!--dropdown-->
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="book-dropdown" data-bs-toggle="dropdown">Nasi Partnerzy</button>
                <ul class="dropdown-menu" aria-labelledby="book-dropdown">
                    <li><a href="https://wirtualna.novitus.pl/bolt/zainstaluj" class="dropdown-item">Bolt</a></li>
                    <li><a href="https://wirtualna.novitus.pl/itaxi/zainstaluj" class="dropdown-item">ITaxi</a></li>
                    <li><a href="https://wirtualna.novitus.pl/jns/zainstaluj" class="dropdown-item">JNS</a></li>
                    <li><a href="https://wirtualna.novitus.pl/freenow/zainstaluj" class="dropdown-item">FREENOW</a></li>
                    <li><a href="https://wirtualna.novitus.pl/RT3000/zainstaluj" class="dropdown-item">RT3000</a></li>
                    <li><a href="https://wirtualna.novitus.pl/opst/zainstaluj" class="dropdown-item">OPST</a></li>
                    <li><a href="https://wirtualna.novitus.pl/zainstaluj" class="dropdown-item">WIZAR</a></li>
                    <li><a href="https://wirtualna.novitus.pl/dylyver/zainstaluj" class="dropdown-item">Dylyver</a></li>
                </ul>
            </div>
        </div>
   </div>

   <!-- -------------------------------------------offcanvas1----------------Pobierz instrukcje---------------->
	<div class="offcanvas offcanvas-start" tab-index = "-1" id = "sidebar1" aria-labelledby="instrukcje">
        <div class="offcanvas-header">

            <h5 class="offcanvas-title" id="sidebar-label">Pobierz instrukcje</h5>
            <button class="btn-close" data-bs-dismiss="offcanvas" type="button" aria-label="close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">			
				<a href="https://drive.google.com/file/d/1s5kHM17llIaCFfkvDi2MKm6B9-zRAOoT/view?usp=sharing" class="list-group-item list-group-item-action py-3 border-0">
					<h5 class="mb-1">Instrukcja instalacji Kasy</h5>
				</a>
				<a href="https://drive.google.com/file/d/1aqcdr_LTXZsUYdE3O2WJPeipe4LgTv0E/view?usp=sharing" class="list-group-item list-group-item-action py-3 border-top border-0">
					<h5 class="mb-1">Dokumentacja techniczno-serwisowa</h5>
				</a>
				<a href="https://drive.google.com/file/d/1_YQia7MZy1tGtf5_MlQBAeDtPN30ExJr/view?usp=sharing" class="list-group-item list-group-item-action py-3 border-top border-0">
					<h5 class="mb-1">Instrukcja Extranet - Novitus</h5>
				</a>
				<a href="https://novitus.pl/sdf3" class="list-group-item list-group-item-action py-3 border-top border-0">
					<h5 class="mb-1">Karta produktu + Akcesoria</h5>
				</a>
				<a href="https://drive.google.com/file/d/1b4vyNjcLqxCqEsxXqqL1b7Myv0irWt-1/view?usp=sharing" class="list-group-item list-group-item-action py-3 border-top border-0">
					<h5 class="mb-1">Cennik części serwisowych</h5>
				</a>
				
			</div>
        </div>
   </div>

   <!-- -----------------------------------------offcanvas2---------------Zobacz filmy----------------------------------->
	<div class="offcanvas offcanvas-start" tab-index = "-1" id = "sidebar2" aria-labelledby="filmy">
        <div class="offcanvas-body">
			
			<!--<div class="row justify-content-center">
				<div class="col col-6"></div>

			</div>-->
			<div class="row justify-content-end">
				<button class="btn-close" data-bs-dismiss="offcanvas" type="button" aria-label="close"></button>
			</div>
            <div class="list-group">			
				<a href="https://drive.google.com/file/d/1sOcw7kfJeO2UkyRnsPaBP3uzkKx9v_xj/view?usp=sharing" class="list-group-item list-group-item-action py-3 border-0">
					<h5 class="mb-3">SDF-3 Konfigurator</h5>
					<div class="row justify-content-center">
						<div class="col col-5">
							<img class="img-fluid rounded" src="/assets/image/phone3.png">
						</div>
					</div>
				</a>
				<a href = "https://updfd.novitus.pl/upd_storage/pl.novitus.SDF3Konfigurator.apk" class="btn btn-secondary mb-2">Pobierz aplikacje na swój telefon</a>
				<a href="https://drive.google.com/file/d/1pZgCJfr5URncx5RvnEBsXfWAMPQzkwp3/view?usp=sharing" class="list-group-item list-group-item-action py-3 my-1 border-top border-0">
					<h5 class="mb-3">Portal Inwestora - Rejestracja konta</h5>
					<div class="row justify-content-center">
						<div class="col col-6">
							<img class="img-fluid rounded" src="/assets/image/Portal_inwestora.png">
						</div>
					</div>
					
				</a>
				<a href="https://drive.google.com/file/d/1lJdZZAlNedIsZu-v2ohKKK3RWwmg10RV/view?usp=sharing" class="list-group-item list-group-item-action py-3 my-1 border-top border-0">
					<h5 class="mb-3">Portal Inwestora - Fiskalizacja kasy</h5>
					<div class="row justify-content-center">
						<div class="col col-6">
							<img class="img-fluid rounded" src="/assets/image/Portal_inwestora.png">
						</div>
					</div>
				</a>
				<a href="https://drive.google.com/file/d/1qLUftnYIMbilVBAQMRHi7vkTcMMDqojs/view?usp=sharing" class="list-group-item list-group-item-action py-3 my-1 border-top border-0">
					<h5 class="mb-3">Montaż urządzenia w miejscu pracy</h5>
					<div class="row justify-content-center">
						<div class="col col-8">
							<img class="img-fluid rounded" src="/assets/image/phone.png">
						</div>
					</div>
				</a>
			</div>
        </div>
   </div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src = "assets/script.js"></script>
	<script>
		const toolTips = document.querySelectorAll('.tt')
        toolTips.forEach(tip =>{
            new bootstrap.Tooltip(tip)
        })
	</script>
</body>

</html>
